clock { display: block; }

.tt-clock{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 200px;
  text-align: center;
  color: white;
  h1 {
    font-size: 100px;
    margin: 0;
    display: inline-block;
    & + span { font-size: 12px; }
  }
}

.tt-timepicker{
  margin: 20px auto;
  input{ margin: 0 5px; }
  button.btn{
    border: 1px solid $tt-light-gray;
    margin-left: 5px;
  }
}

.tt-set-alarm-cta{
  cursor: pointer;
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  opacity: .8;
  .glyphicon{
    top: 0;
    font-size: 10px;
    display: inline;
  }
}

/*
==============================================
RESPONSIVE
==============================================
*/

@media only screen and (min-width: $tt-sm) {
  .tt-clock{
    h1 { font-size: 120px; }
    & + span { font-size: 16px; }
  }
  .tt-set-alarm-cta{
    font-size: 16px;
    .glyphicon {
      font-size: 14px;
    }
  }
}


@media only screen and (min-width: $tt-md) {
  .tt-clock{
    h1 { font-size: 180px; }
    & + span { font-size: 20px; }
  }
}
